/*----------------------------*/
html, body {
    min-height: 100%;
    margin: 0;
}
    body {
        display: flex;
        flex-direction: column;
        min-height: 100dvh;
    }
        .content {
            display: flex;
            flex: 1 1 auto;
            justify-content: center;
        }
            .index-content {
                display:flex;
                min-height:100%;
                width:100%;
            }
        footer {
            display:flex;
            flex-direction: row;
            flex: 0 0 50px;
        }
/*index----------------------------*/
.index-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*-device----*/
.websketch {
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    width:450px;
    height:550px;
    padding:20px;
    gap:10px;
    cursor:grab;
}
/*-top label-----*/
    .toplabel {
        height:7%;
        width:10%;
    }
/*--screen frame----*/
    .screen-frame {
        display:flex;
        justify-content: center;
        align-items: center;

        width: 90%;
        height: 60%;
    }
        #drawing-canvas {
            display: block;

            width: 97%;
            height: 93%;
            cursor: crosshair;
        }
/*-reset button-----*/
    .websketch :nth-child(3) {
        display:flex;
        justify-content: center;
        align-items: center;

        height:6%;
        width:6%;
    }
        #shake-button {
            height:70%;
            width:70%;
        }
    .websketch p {
        margin:0;
        padding:0;
    }
/*-control section-----*/
    .control-section {
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;

        height:35%;
        width:85%;
        gap:120px;
        padding-bottom:20px;
    }
    .lr-button, .ud-button {
        display:flex;

        gap:20px;
    }
    .ud-button {
        flex-direction:column;
    }
/*------ buttons ------*/
#left-button, #right-button, #up-button, #down-button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;
    width: 70px;
    cursor: pointer;
    user-select: none;
    transition: all 0.1s ease-in-out;
}
/*-------------------------------*/
/*-responsiveness-------------------*/
/*---SMALLER THAN-------------------*/
@media screen and (max-width: 600px) {
    html, body {
        height: 100%;
        overflow: hidden;
    }
    .websketch {
        height: 100%;
        width: 100%;
        border-radius: 0;
        gap: 5px;
    }
    .websketch :nth-child(3) {
        height:6%;
        width:8%;  
    }  
    footer {
        display: none;
    }
}


/*-------------------------------*/
/*---SMALLER THAN-------------------
@media screen and (max-width:600px){

}
/*---IN BETWEEN----------------------
@media screen and (min-width:601px) and (max-width:1024px){

}
/*---BIGGER THAN----------------------
@media screen and (min-width:1025px){

}
------*/